<form method="post" action="{{ path(PREFIX ~ 'delete', {'id': budget_chapter.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ budget_chapter.id) }}">
    <button class="btn">Delete</button>
</form>
